<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">    
    
    <bean id="hello" class="com.spring.core.session01.beans.Hello" />
    
    <bean id="lotto" 
    	scope="prototype"
    	class="com.spring.core.session02.beans.Lotto" />
	
	<!-- Author -->
	<bean id="author" class="com.spring.core.session02.beans.Author" />
	
	<bean id="author2" class="com.spring.core.session02.beans.Author">
		<!-- 方法注入  -->
		<property name="name">
			<value>John</value>
		</property>
		<property name="sex">
			<value>男</value>
		</property>
		<property name="age">
			<value>
				28
			</value>
		</property>
	</bean>
	
	<bean id="author3" class="com.spring.core.session02.beans.Author">
		<!-- 建構子注入 -->
		<constructor-arg index="0" value="Mary" />
		<constructor-arg index="1" value="女" />
		<constructor-arg index="2" value="21" />
	</bean>
	
	<bean id="author4" 
		  p:name="Helen" p:sex="女" p:age="22"
		  class="com.spring.core.session02.beans.Author" />
	
	<bean id="author5" 
		  c:name="Tom" c:sex="男" c:age="30"
		  class="com.spring.core.session02.beans.Author" />
		  
	<!-- Book -->
	<bean id="book" class="com.spring.core.session02.beans.Book" />
	
	<bean id="book2" class="com.spring.core.session02.beans.Book">
		<property name="name">
			<value>Java</value>
		</property>
		<property name="price">
			<value>500</value>
		</property>
		<property name="author" ref="author2" />
	</bean>
	
	<bean id="book3" class="com.spring.core.session02.beans.Book">
		<constructor-arg index="0" value="Spring" />
		<constructor-arg index="1" value="600" />
		<constructor-arg index="2" ref="author3" />
	</bean>
	
	<bean id="book4" 
		  p:name="Python" p:price="300" p:author-ref="author4"
		  class="com.spring.core.session02.beans.Book" />
	
	<bean id="book5" 
		  c:name="Python" c:price="300" c:author-ref="author5"
		  class="com.spring.core.session02.beans.Book" />
		  
	<!-- Color、Size、Paper -->
	<!-- 手動配置（字面值配置） -->
	<bean id="color" p:name="White" class="com.spring.core.session02.beans.Color" />
	<bean id="size" p:name="A4" class="com.spring.core.session02.beans.Size" />
	<bean id="red" p:name="Red" class="com.spring.core.session02.beans.Color" />
	<bean id="b3" p:name="B3" class="com.spring.core.session02.beans.Size" />
	<bean id="paper" 
		  p:id="1" p:color-ref="color" p:size-ref="size" 
		  class="com.spring.core.session02.beans.Paper" />
	<!-- 自動配置 -->
	
	<!-- 可匹配的超過1個，就不可使用 byType，例如 color、red 都是 Color 型別 -->
	<!-- 
	<bean id="paper2" 
		  p:id="1" autowire="byType" 
		  class="com.spring.core.session02.beans.Paper" />
	-->
	<bean id="paper2" 
		  p:id="1" autowire="byName" 
		  class="com.spring.core.session02.beans.Paper" />
	 
	<bean id="paper3" 
		  p:id="2" autowire="byName" 
		  class="com.spring.core.session02.beans.PaperRedB3" />
	
	<bean id="paper4" 
		  p:id="1001" autowire="constructor" 
		  class="com.spring.core.session02.beans.Paper" />
		  
	<!-- 引用外部資源 -->
	<context:property-placeholder location="data.properties" />
	
	<!-- 建立 Clazz 實例並使用外部資源來注入屬性資料，使用語法：${ xxx } -->
	<bean id="clazz1" 
		  p:id="1"
		  p:name="${clazz.name}"
		  p:credit="${clazz.credit}"
		  class="com.spring.core.session03.beans.Clazz" />
	
	<bean id="clazz2" p:id="2" p:name="English" p:credit="2"
		  class="com.spring.core.session03.beans.Clazz" />
	
	<bean id="clazz3" p:id="3" p:name="Math" p:credit="1"
		  class="com.spring.core.session03.beans.Clazz" />
	
	<!-- 學生 1 配置 -->
	<bean id="student1" 
		  p:id="1" p:name="John"
		  class="com.spring.core.session03.beans.Student">
		  <!-- Set 集合配置 -->
		  <property name="clazzs">
		  	<set>
		  		<ref bean="clazz1" />
		  		<ref bean="clazz2" />
		  		<ref bean="clazz3" />
		  	</set>
		  </property>
	</bean>
	
	<!-- 學生 2 配置 -->
	<bean id="student2" 
		  p:id="2" p:name="Mary"
		  class="com.spring.core.session03.beans.Student">
		  <!-- Set 集合配置 -->
		  <property name="clazzs">
		  	<set>
		  		<ref bean="clazz1" />
		  		<ref bean="clazz3" />
		  	</set>
		  </property>
	</bean>
	
	<!-- 講師 1 配置 -->
	<bean id="teacher1" 
		  p:id="1" p:name="Bob"
		  class="com.spring.core.session03.beans.Teacher">
		<!-- Set 集合配置 -->
		<property name="students">
			<set>
				<ref bean="student1" />
				<ref bean="student2" />
			</set>
		</property>
		<!-- List 集合配置 -->
		<property name="subjects">
			<list>
				<value>Program</value>
				<value>English</value>
			</list>
		</property>
		<!-- Map 集合配置（每一個元素是一個 entry -> key / value） -->
		<property name="salary">
			<map>
				<entry key="base">
					<value>50000</value>
				</entry>
				<entry key="addition">
					<value>20000</value>
				</entry>
			</map>
		</property>	  
	</bean>
	
	<!-- 利用 util:set、util:list、util:map 簡化配置 -->
	<util:set id="students">
		<ref bean="student1" />
		<ref bean="student2" />
	</util:set>
	
	<util:list id="subjects">
		<value>Java</value>
		<value>English</value>
		<value>Math</value>
	</util:list>
	
	<util:map id="salary">
		<entry>
			<key>
				<value>base</value>
			</key>
			<value>65000</value>
		</entry>
		<entry>
			<key>
				<value>addition</value>
			</key>
			<value>32000</value>
		</entry>
	</util:map>
	
	<!-- 講師 2 配置 -->
	<bean id="teacher2" 
		  p:id="2" p:name="Jean"
		  p:students-ref="students"
		  p:subjects-ref="subjects"
		  p:salary-ref="salary"
		  class="com.spring.core.session03.beans.Teacher" />
	
	<!-- init-method、destroy-method 配置-->	
	<bean id="dbconn"
		init-method="init" 
		destroy-method="destroy"
		class="com.spring.core.session03.beans.DBConn" />
	
	<!-- 利用 BeanFactory 建立實體 -->
	<bean id="carFactory" scope="singleton" class="com.spring.core.session03.beans.CarFactory" />
	
</beans>






